@import "tailwindcss";
@config "./tailwind.config.js";

body {
  background-color: #ffffff;
  color: #1a1a1a;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #ccc; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
